html, body {
	background-color: white;
	height:100%;
	width:100%;
	margin:0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
	font-size: 1em;
}

.container {
	width: 100%;
	height: 100%;
	margin: 0px auto;
}

.title{
	color:#FFFFFF;
	width:100%;
	height:80px;
	text-align:center;
	font-family:'Lato', sans-serif;
  font-weight: 300;
	font-size:3em;
	padding-top: 50px;
}

.icons{
	display: flex;
	position: fixed;
	top: 20px;
	right: 20px;

  justify-content: flex-end;
	align-items: flex-start;
	flex-direction: column;
}

.icons img{
	width: 30px;
  padding: 5px;
}

@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
	.title{
		font-size: 5em;
	}
	.icons img{
		width: 60px;
	  padding: 5px;
	}
}

/* PAGE ONE */

.pageOne{
	display:flex;
	min-height: 100%;
	width: 100%;
	background-color:#21212d;

	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.neal{
	color:#FFFFFF;
	width:100%;
	height:80px;
	text-align:center;
	font-family:'Lato', sans-serif;
  font-weight: 300;
	font-size:3em;
}

.down-arrow img{
	width: 50px;
}

@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
  .neal{
		font-size: 7em;
		height: auto;
	}
	.down-arrow img{
		width: 150px;
	}
}

/* PAGE TWO */

.pageTwo{
	display:flex;
	min-height: 100%;
	width: 100%;
	background-color:#5c2633;
  color: #FFFFFF;
  font-size: 1.1em;
  line-height: 20pt;

	justify-content: space-between;
	flex-direction: column;
  align-content: center;
}

.me-image{
  height: 400px;
  align-self: flex-end;
}

.me-image img{
  width: 400px;
}

.work-exp{
  display: flex;
	flex-direction: column;
	align-items: center;
}

.dot-gap{
  width: 100%;
  text-align: center;
}

.exp-date{
  width: 100%;
  text-align: right;
  font-size: 1em;
}

.exp-horizontal{
	margin: 10px 0px;
  display: flex;
  justify-content: space-around;
	align-items: center;
}

.work-item{
  display: flex;
  margin: 30px 0px;
  width: 60%;
}

.exp-item{
  margin: 30px 0px;
}

.expIcon img{
  width: 25px;
  padding-right: 15px;
}

@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
	.exp-horizontal{
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}
}

@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
	.work-exp{
		font-size: 2em;
		line-height: 2em;
	}

	.work-item{
		width: 90%;
	}

	.exp-item{
		font-size: 2em;
		line-height: 2em;
	}
}

/* PAGE THREE */

.pageThree{
	display:flex;
	min-height: 100%;
	width: 100%;
  background-color: #F0F0F0;
	/*background-color:#265c5a;*/

	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.pageThree .title{
  color: #000000;
}

#myContent {
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
  width: 100%;
  margin-top: 20px;
}

#myContent img{
  display: block;
  margin-bottom: 0px;
  width: 100%;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  padding: 1px;
  margin: 0;
}

@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
  #myContent {
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
    width: 100%;
  }

  .photography {
    width: 100%;
		margin-top: 40px;
  }
}

@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
  #myContent {
    -moz-column-count: 1;
    -moz-column-gap: 0px;
    -webkit-column-count: 1;
    -webkit-column-gap: 0px;
    column-count: 1;
    column-gap: 0px;
    width: 100%;
  }

  .photography {
    width: 100%;
		margin-top: 40px;
  }
}
